-f https://download.pytorch.org/whl/torch_stable.html
streamlit>=1.22.0
torch==1.8.1+cpu
torchvision==0.9.1+cpu
opencv-python-headless==4.6.0.66
plotly==4.14.3
PyYAML==5.4.1
matplotlib==3.4.2
seaborn==0.11.1
psutil
numpy==1.23
ultralytics
